/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTEINER */
/* COMMON */
/* LAYOUT */


i {
    font-size: 2rem;
}


.fa-angle-up {
    font-size: .8rem;
}

.fa-microphone-slash {
    font-size: .8rem;
}

li {
    list-style-type: none;
}

img {
    height: 150px;    
    
}

main.wrapper {
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

/* ICON VAR */
:root {
    --microphone: <i class="fa-solid fa-microphone"></i>;
    --microphone-slash: <i class="fa-solid fa-microphone-slash"></i>;
    --video: <i class="fa-solid fa-video"></i> ;
    --invite: <i class="fa-solid fa-user-plus"></i>;
    --add-friend: <i class="fa-solid fa-user-group"></i>;
    --angle-up: <i class="fa-solid fa-angle-up"></i>;
    --chart-bar: <i class="fa-solid fa-chart-bar"></i>;
    --share-screen: <i class="fa-solid fa-share-from-square"></i>;
    --comment: <i class="fa-solid fa-comment"></i>;
    --record: <i class="fa-solid fa-record-vinyl"></i>;
    --table: <i class="fa-solid fa-table-cells-large"></i>;
    --more: <i class="fa-solid fa-ellipsis"></i>;
}

.a {
    transform: ;
}


/* ICON COLOUR DEFAULT */

i {
    color: white;
}



/* MAIN SECTION PHOTO LAYOUT */

/* CARD SECTION */
.card {
    height: 90%;
    padding: 40px 30px 10px;
    margin: 0 auto;
    
}

/* DIV IMG FATHER IMG+SET */
.img {
    position: relative;   
    height: 150px;
    
}

.name, .icon {
    /* display: none; */
}

/* MICROPHONE + PINCOPALLO */
.set {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    bottom: 0;
    left: 0;
}


.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}







/* FOOTER SECTION WITH COMAND */

footer {
    background-color: rgb(43, 43, 42);
    height: 10%;
}




/* MAINFOOTERLIST */

.r {
    width: 25%;
}

.m{
    width: 50%;
}

.mainfooterlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    
}

.left-element {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
    
}

.left-element li{
    text-align: center;
    font-size: 1.5rem;
}

h3 {
    font-size: .8rem;
    margin-top: 5px;
}

.left-element h3 {
    font-size: 1rem;
    margin-top: 5px;
}


.middle-element {
    display: flex;
    justify-content: space-between;

    gap: 40px;
}


/* SHIFT TO DOWN OF ANGLE UP */
.fa-angle-up {
    margin-top: 20px;
}

.g {
    color: green;
}

.last-li {
    height: 100%;
    width: 100px;
    position: relative;
}

.end {
    width: 100%;
    height: 100%;
    background-color: rgb(93, 95, 95);
    position: absolute;
    top: 0;
    right: 0;
    color: red;

}

.last-footer {
    height: 20%;
    background-color: rgb(22, 21, 21);
}